<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanyuan.mapper.VersionInfoMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		versionNumber,
		fileUrl,
		platform,
		modelType,
		isMust
		downLoadURL,
		updateContent,
		updateDate,
		id,
		title
	</sql>

	<select id="findVersionInfoPage" resultType="com.lanyuan.entity.VersionInfoFormMap">
		SELECT
		<include refid="selectId" />
		from s_version_info
		where 1 = 1
		and DeleteFlag=0
		<if test="title != null and title != ''">
		and title like '%${title}%'
		</if>
		<if test="dateFrom != null and dateFrom != ''">
		and updateDate > '${dateFrom}'
		</if>
		<if test="dateTo != null and dateTo != ''">
		and updateDate &lt;= '${dateTo}'
		</if>
		<if test="column != null">
          order by ${column} ${sort}
        </if>
	</select>

	
</mapper>